#app {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    padding: 20px;
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow: auto;
    background-color: yellow;
}
.el-tree {
    width: 150px;
    position: absolute;
    height: 100%;
}
.iframe-container {
    margin-left: 150px;
    /* flex: 1; */
    width: 100%;
    height: 100%;
    background-color: #ccc;
}