<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UCC</title>
    <link rel="stylesheet" href="./home.css">
    <link rel="stylesheet" href="../../common/element-ui/css/element.css">
    <link rel="stylesheet" href="../../styles/element-ui.css">
    <script src="../../common/vue/js/vue.js" type="text/javascript"></script>
    <script src="../../common/element-ui/js/element.js" type="text/javascript"></script>
    <script src="../../common/vue/js/axios.min.js"></script>
</head>
<body>
      <div id="app">
        <div class="container">
          <div class="left-box">
            <el-menu 
                  default-active="business" 
                  class="el-menu-vertical-demo" 
                  :collapse="isCollapse"
                  @select="jumpFrame"
                  background-color="#545c64">
                  <el-menu-item>
                    <template>
                      <img class="sidebar-logo" src="https://wpimg.wallstcn.com/69a1c46c-eb1c-4b46-8bd4-e9e686ef5251.png" alt="">
                      <span slot="title">广州易云</span>
                    </template>
                  </el-menu-item>
                  <el-menu-item
                  v-for="item in navList"
                  :index="item.index">
                    <i :class="item.icon"></i>
                    <span slot="title">{{item.title}}</span>
                  </el-menu-item>
                  </el-menu>
          </div>
          <div class="right-box">
              <div class="header-box" style="height:60px">
                <el-menu
                  class="el-menu-nav"
                  mode="horizontal"
                  text-color="#fff"
                  background-color="#545c64"
                  >

                  <el-menu-item @click="isCollapse = !isCollapse">
                    <i class="el-icon-s-fold"></i>
                  </el-menu-item>

                  <el-menu-item index="1" class="header-right">
                    <el-dropdown>
                      <div class="login-out">
                        <i class="el-icon-switch-button"></i>
                      </div>
                      <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item>退出登录</el-dropdown-item>
                      </el-dropdown-menu>
                    </el-dropdown>
                  </el-menu-item>

                  <el-menu-item index="2" class="header-right">
                    <el-dropdown>
                      <div class="agent-msg">
                        <el-avatar :size="20" :src="circleUrl"></el-avatar>
                        <span id="agent-name">{{agentName}}</span>
                      </div>
                      <el-dropdown-menu slot="dropdown">
                        <el-dropdown-item>个人中心</el-dropdown-item>
                        <el-dropdown-item>个人设置</el-dropdown-item>
                      </el-dropdown-menu>
                    </el-dropdown>
                  </el-menu-item>

                <el-popover
                  placement="bottom"
                  trigger="click"
                  >
                  <el-tabs v-model="activeName" @tab-click="handleClick">
                    <el-tab-pane label="通知1212" name="first">
                      msg
                    </el-tab-pane>
                    <el-tab-pane label="代办112323123" name="second">
                      msg
                    </el-tab-pane>
                  </el-tabs>
                  <el-menu-item index="3" class="header-right" slot="reference">
                    <el-badge :value="badgeNum" class="icon">
                      <i class="el-icon-bell"></i>
                    </el-badge>
                  </el-menu-item>
                </el-popover>
              </el-menu>
            </div>
              
            <div class="iframe-container" v-for="(item,index) in iframeList" :key="item.id">
              <iframe v-show="item.isFrameShow" :src="item.iframeSrc" frameborder="0" height="100%" :name="item.iframeName"></iframe>
            </div>
          </div>
        </div>
      </div>
</body>
<script src="./home.js"></script>
</html>